.nav-item {
  padding: 0.5em;
  text-align: start;
  font-size: 24px;
  display: flex;
  width: 20em;
}
.nav {
  flex-direction: column;
}

li {
  margin: 1em;
}

.nav-item:hover {
  cursor: pointer;
}
.sideBarWrapper {
  width: fit-content;
  height: 70em;
  background-color: white;
  box-shadow: 5px 0 5px -2px gray;
}
.glowIt {
  border-left: 10px solid #45398b;
  color: #45398b;
  background-color: #adb5bd4d;
}

@media (max-width: 600px) {
  .nav-item {
    display: none;
  }
}
