.changePasswordWrapper {
  background-image: url("../../Assets/background.jpg");
  width: 100%;
  height: 102vh;
  padding-top: "10%";
}
.passwordWrapper {
  padding: 8em 5em 8em 3em;
}
.title {
  justify-content: center;
}

@media (max-width: 600px) {
  .changePasswordWrapper {
    padding-top: "25%";
  }
}
