.loginWrapper {
  display: flex;
  flex-direction: column;

  justify-content: center;
}
.loginHeading {
  font-weight: bolder;
  font-size: 5em;
}
.loginRedirectLinks {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: rgb(113, 73, 206) !important;
}
